<h1>Listing Settings</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>

  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.key %></td>
        <td><%= setting.value %></td>
        <td><%= link_to 'Edit', edit_admin_setting_path(setting) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
