<p>Hi <%= @user.name %>,</p>

<p>The Mathist Team is very excited to have you on board! Thank you for signing up.</p>
<p>Please let us know if you have any questions or comments, we are here for you!</p>

<p>
  Warm regards,<br>
  The Mathist Team
</p>
