@mixin background-pos($x, $y){
	background-position: $x $y;
	-moz-background-position: $x $y;
	-webkit-background-position: $x $y;
}

@mixin transition-property($prop) {
	transition-property: #{$prop};
	-moz-transition-property: #{$prop};
	-webkit-transition-property: #{$prop};
}

@mixin duration($time) {
	transition-duration: $time;	
	-moz-transition-duration: $time;	
	-webkit-transition-duration: $time;	
}

@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

@mixin prevent-selection() {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}