<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	
	<title>The Mathist | Admin</title>
	<meta name="description" content="View latest updates from your friends. Organize your math notes and manage your accounts. Write mathematical notes.">
	
	<!-- Styles imports -->
	<%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag params[:controller] %>
	<link href='https://fonts.googleapis.com/css?family=Playball|Open+Sans:600italic,400,700,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
</head>
<body class="relative">
    <%= yield %>
    <%= javascript_include_tag 'application'%>
</body>
</html>
